.TodoItem{
    background-color: rgba(0, 0, 0, 0.82);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    border: transparent;
    color: aliceblue;
    border-radius: 40px;
    box-shadow: 0px 0px 15px rgb(17, 48, 132)
}

.TodoItem-p{
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.TodoItem-p--complete{
    text-decoration: line-through;
}